/* CABECALHO */

.cabecalho__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}

.cabecalho__pesquisar__item {
    display: none;
}

/* MENU */
.menu__container {
    position: fixed;
    bottom: 0%;
    height: 74px;
    width: 100%;
}

.menu__lista {
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    height: 100%;
}

.menu__lista li {
    align-self: center; /* alinha o proprio elemento */
}

.menu__itens {
    display: flex;
    flex-direction: column; /* muda a direção */
    gap: 5px; /* da um espacamento entre os elementos, exceto extremidade*/
}

.menu__lista:nth-child(2),
.menu__lista:nth-child(3),
.menu__lista:nth-child(4) {
    display: none;
}

/* SUPERIOR SEÇÃO */

.superior__secao__container {
    display: flex;
    align-items: center; /* alinha os itens vertical*/
    white-space: nowrap; /* não deixa quebrar o texto */
    overflow: scroll; /* aplica a barra de rolagem */
    gap: 15px; /* ideal para aplicar espaçamento entre os elementos filhos... obs: ele não aplica espaçamento entre as extremidades dos itens*/
}

/* RODAPE */

.rodape__container {
    display: flex;
    flex-direction: column ;/*usado para alterar o eixo vertical ou horizontal*/
    flex-wrap: wrap; /* quebra a linha */
    /* outra forma de aplicar o flex-direction e flex-wrap */
    /* flex-flow: column wrap; */
}

@media (min-width: 834px) {

    /* CABECALHO */

    .cabecalho__pesquisar__item {
        display: block; /* block: valor padrão */
    }

    /* RODAPÉ */

    .rodape__container {
        justify-content: space-between;
    }

    /* MENU PARA TABLETs */

    .menu__container {
        left: 0;
        height: auto;
        width: 74px;
        top: 80px;
    }

    .menu__lista {
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 15px;
        gap: 33px;
    }
}